html,
body {
    height: 100%;
}

.content-wrapper {
    height: calc(~"100vh - 100px");
    overflow: auto;
}

.clickable {
    cursor: pointer;
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
    overflow: visible;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}