<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Client Profile
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-2">
          <div class="box box-primary">

            <div class="box-body box-profile">
                <h3 class="profile-username text-center">{{Client.client.first_name}} {{Client.client.last_name}}</h3>
                <p class="text-muted text-center">SSN: {{Client.client.ssn }}</p>
                <p class="text-muted text-center">DOB: {{Client.client.dob | date: shortDate}}</p>
                <h3 style="display: block;" class="label text-muted text-center" ng-class="{'bg-green': Client.clientHealthViability >= 90, 'bg-yellow': Client.clientHealthViability < 90 && Client.clientHealthViability >= 70, 'bg-red': Client.clientHealthViability < 70}">
                  Viability: {{Client.clientHealthViability}}
                </h3>
            </div>
          </div>

          <div class="box box-primary">
              <div class="box-header with-border">
                  <h3 class="box-title">About Me</h3>
              </div>
              <div class="box-body">
                  <strong>Gender</strong>
                  <p class="text-muted">{{Client.client.gender}}</p>
                  <hr>
                  <strong>Veteran Status</strong>
                  <p class="text-muted">{{Client.client.veteran_status}}</p>
                  <hr>
                  <strong>Ethnicity</strong>
                  <p class="text-muted">
                      <ul class='ethnicities-list'>
                          <li ng-show="Client.client.american_indian">American Indian</li>
                          <li ng-show="Client.client.asian">Asian</li>
                          <li ng-show="Client.client.black">Black</li>
                          <li ng-show="Client.client.white">White</li>
                          <li ng-show="Client.client.hi_or_pac_island">Hawaiian/Pacific Islander</li>
                          <li ng-show="Client.client.no_race">No Race</li>
                      </ul>
                  </p>
              </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6">
              <div class="info-box">
                <span class="info-box-icon bg-{{ Client.getStatusColorForHousing(Client.client) }}">
                  <i class="fa fa-home"></i>
                </span>

                <div class="info-box-content">
                <span class="info-box-text">Housing Status</span>
                  <span class="info-box-number">{{ Client.client.housing_status || 'Homeless' }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-6">
              <div class="info-box">
                <span class="info-box-icon bg-{{ Client.getStatusColorForEmployment(Client.client) }}">
                  <i class="fa fa-flag-o"></i>
                </span>

                <div class="info-box-content">
                  <span class="info-box-text">Employment Status</span>
                  <span class="info-box-number">{{ Client.client.employment_status || 'None' }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

          </div>

          <div class="box box-widget">
            <uib-tabset class="active">
                <uib-tab index="0" heading="Employment/Education">
                  <br>
                   <table class="table table-striped">
                    <thead>
                      <th>Education Level</th><th>School Status</th><th>Employment Type</th>
                      <th>Reason Not Employed</th><th>Date Noted</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="cdis in Client.clientEducationEmployment">
                        <td ng-hide="Client.editing(cdis.id)">{{cdis.educationLevel}}</td>
                        <td ng-show="Client.editing(cdis.id)">
                          <ui-select ng-model="cdis.educationlevelid"
                                    theme="select2"
                                    reset-search-input="false"
                                    append-to-body="true" id="educationLevel">

                            <ui-select-match placeholder="Something...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="educationLevel.id as educationLevel in Client.allEducationLevels | filter: $select.search">

                              <div ng-bind-html="educationLevel.name | highlight: $select.search"></div>
                            </ui-select-choices>
                          </ui-select>
                        </td>
                        <td ng-hide="Client.editing(cdis.id)">{{cdis.schoolStatus}}</td>
                        <td ng-show="Client.editing(cdis.id)">
                          <ui-select ng-model="cdis.schoolstatusid"
                                    theme="select2"
                                    reset-search-input="false"
                                    append-to-body="true" id="schoolStatus">

                            <ui-select-match placeholder="Something...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="schoolStatus.id as schoolStatus in Client.allSchoolStatuses | filter: $select.search">

                              <div ng-bind-html="schoolStatus.name | highlight: $select.search"></div>
                            </ui-select-choices>
                          </ui-select>
                        </td>                        
                        <td ng-hide="Client.editing(cdis.id)">{{cdis.employmentType}}</td>
                        <td ng-show="Client.editing(cdis.id)">
                          <ui-select ng-model="cdis.employmenttypeid"
                                    theme="select2"
                                    reset-search-input="false"
                                    append-to-body="true" id="employmentType">

                            <ui-select-match placeholder="Something...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="employmentType.id as employmentType in Client.allEmploymentTypes | filter: $select.search">

                              <div ng-bind-html="employmentType.name | highlight: $select.search"></div>
                            </ui-select-choices>
                          </ui-select>
                        </td>                         
                        <td ng-hide="Client.editing(cdis.id)">{{cdis.notEmployedReason}}</td>
                        <td ng-show="Client.editing(cdis.id)">
                          <ui-select ng-model="cdis.notemployedreasonid"
                                    theme="select2"
                                    reset-search-input="false"
                                    append-to-body="true" id="reasonNotEmployed">

                            <ui-select-match placeholder="Something...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="notEmployedReasonType.id as notEmployedReasonType in Client.allNotEmployedReasonTypes | filter: $select.search">

                              <div ng-bind-html="notEmployedReasonType.name | highlight: $select.search"></div>
                            </ui-select-choices>
                          </ui-select>
                        </td>                         
                        <td>{{cdis.creation_date | date: shortDate}}</td>
                        <td ng-hide="Client.editing(cdis.id)">
                          <button class="btn btn-xs btn-primary" ng-click="Client.edit(cdis.id)">Edit</button>
                        </td>
                        <td ng-show="Client.editing(cdis.id)">
                          <button class="btn btn-xs btn-primary" ng-click="Client.updateEmployment(cdis)">Save</button>
                          <a ng-click="Client.cancelEdit()">Cancel</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </uib-tab>
                <uib-tab index="1" heading="Income and Benefits">
                  <br>
                    <table class="table table-striped">
                    <thead>
                      <th>Monthly Income</th><th>Earned Income</th><th>Social Security</th>
                      <th>Date Noted</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="cdis in Client.clientIncomes">
                        <td>{{cdis.totalmonthlyincome }}</td>
                        <td>{{cdis.earnedincome }}</td>
                        <td>{{cdis.ssi}}</td>
                        <td>{{cdis.creation_date | date: shortDate}}</td>
                      </tr>
                    </tbody>
                  </table>
                </uib-tab>
                <uib-tab index="2" heading="Disability">
                  <br>
                  <table class="table table-striped">
                    <thead>
                      <th>Disability</th><th>Response</th><th>Noted</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="cdis in Client.clientDisabilities">
                        <td>{{cdis.disability}}</td><td>{{cdis.disabilityResponse}}</td><td>{{cdis.creation_date | date: shortDate}}</td>
                      </tr>
                    </tbody>
                  </table>
                </uib-tab>
                <uib-tab index="3" heading="Health">
                  <br>
                   <table class="table table-striped">
                    <thead>
                      <th>General Health</th><th>Mental Health</th><th>Pregnancy</th>
                      <th>Due Date</th><th>Date Noted</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="cdis in Client.clientHealth">
                        <td>{{cdis.generalHealth}}</td>
                        <td>{{cdis.mentalHealth}}</td>
                        <td>{{cdis.pregnant}}</td>
                        <td>{{cdis.duedate}}</td>
                        <td>{{cdis.creation_date | date: shortDate}}</td>
                      </tr>
                    </tbody>
                  </table>
                </uib-tab>
                <uib-tab index="4" heading="Domestic Violence">
                  <br>
                   <table class="table table-striped">
                    <thead>
                      <th>Domestic Victim</th><th>Occurred</th><th>Currently Fleeing</th>
                      <th>Date Noted</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="cdis in Client.clientEducationEmployment">
                        <td>{{cdis.pregnant}}</td>
                        <td>{{cdis.dvWhenOccured | date: shortDate}}</td>
                        <td>{{cdis.currentlyfleeing}}</td>
                        <td>{{cdis.creation_date | date: shortDate}}</td>
                      </tr>
                    </tbody>
                  </table>
                </uib-tab>
            </uib-tabset>
          </div>
        </div>

      </div>
      <!-- /.row -->
    </section>
</div>
