<div class="content-wrapper">
    <section class="content-header">
      <h1>
        Manage Reservations
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="rowf flex-body">
        <div class="col-md-12">
          <div class="box" ng-repeat="reservation in reservationMgmt.reservations | orderBy:['-status', 'id']">
            <div class="box-header with-border">
              <h3 class="box-title">
                {{ reservation.client.full_name }}
              </h3>
              <span class="pull-right">Time reserved: {{ reservation.happened_on | date:'shortTime' }}</span>
            </div>
            <div class="box-body reservation-container">
              <div class="reservation-info">
                Beds reserved: {{ reservation.number_in_party }}
              </div>
              <div class="reservation-actions" ng-if="reservation.status === 'HOLD'">
                <button type="button" class="btn btn-block btn-danger" ng-click="reservationMgmt.cancelReservation(reservation.id)">Cancel Reservation</button>
                <button type="button" class="btn btn-block btn-primary" ng-click="reservationMgmt.checkInExistingReservation(reservation)">Check-In Client</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
