<div class="content-wrapper">
  <section class="content-header">
    <h1>Reserve Beds</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Reserve Beds</li>
    </ol>
  </section>
  <section class="content">
    <div class="row flex-body">
      <div class="col-md-12 flex-body-main">
        <div class="box" ng-repeat="agency in reserveBed.agenciesNearby | orderBy:'distance'">
          <div class="box-header with-border">
            <h3 class="box-title">
              {{ agency.name }}
              <span class="pull-right">Available beds: {{ agency.beds_available }}</span>
          </div>
          <div class="box-body agency-container">
            <div class="agency-info">
              Distance: {{ agency.distance }} miles away: {{ agency.address1 }} {{ agency.address2 }} {{ agency.city }}, {{ agency.state }} {{ agency.zip }}
            </div>
            <div class="reservation-actions">
              <button type="button" class="btn btn-block btn-primary"  ng-click="reserveBed.selectAgency(agency)">Reserve Beds Here</button>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="reserveBed.selectedAgency !== undefined" class="flex-body-sidebar">
        <aside id="sidebar" class="control-sidebar control-sidebar-dark">
          <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="" ng-click="reserveBed.sidebarTab = 1" ng-class="{'active': reserveBed.sidebarTab === 1}">
              <a href=""><i class="fa fa-clipboard"></i></a>
            </li>
            <li class="" ng-click="reserveBed.sidebarTab = 2" ng-class="{'active': reserveBed.sidebarTab === 2}">
              <a href=""><i class="fa fa-list"></i></a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane" ng-class="{'active': reserveBed.sidebarTab === 1}">
              <h4 class="control-sidebar-heading">
                <strong style="white-space: nowrap; overlay: hidden; text-overflow: ellipsis;">{{reserveBed.selectedAgency.name}}</strong>
                <br/>
                Reserve Beds
              </h4>
              <div class="form-group">
                <span class="control-sidebar-subheading">Client reserving for</span>
                <ui-select ng-model="reserveBed.newReservation.selected" theme="select2" title="Choose a client">
                  <ui-select-match placeholder="Select a client in the list or search his/her name">
                    {{$select.selected.full_name}}
                  </ui-select-match>
                  <ui-select-choices repeat="client in reserveBed.clients | filter:$select.search">
                    <div ng-bind-html="client.full_name | highlight: $select.search"></div>
                    <small>
                      DOB: {{ client.dob | date:'d/M/yyyy'}}
                    </small>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Number of beds (family members included)
                  <input type="number" class="form-control" min="1" placeholder="1" value="1" ng-model="reserveBed.newReservation.number" required name="" />
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-block btn-success" ng-click="reserveBed.reserveBeds()">Reserve Beds</button>
              </div>
            </div>
            <div class="tab-pane" ng-class="{'active': reserveBed.sidebarTab === 2}">
              <h4 class="control-sidebar-heading">
                <strong style="white-space: nowrap; overlay: hidden; text-overflow: ellipsis;">{{reserveBed.selectedAgency.name}}</strong>
                <br/>
                List of Reservations
              </h4>
              <div class="form-group" ng-if="reserveBed.selectedAgency.reservations.length === 0">
                <h4 style="text-align: center;" class="control-sidebar-heading">No reservations yet</h4>
              </div>
              <div class="form-group" ng-repeat="reservation in reserveBed.selectedAgency.reservations">
                <div class="box">
                  <div class="box-header with-border">
                    <h3 class="box-title">
                      {{reservation.client.full_name}}
                      <span class="pull-right"><i class="fa fa-edit"></i> Edit</span>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div>
  </section>
</div>
