<div class="content-wrapper">
  <section class="content-header">
    <h1>Agencies Nearby</h1>
    <label>Search:
      <input class="no-input" placeholder="search" ng-model="reserveBed.searchTerm">
    </label>
    <label>Beds Needed:
      <input class="no-input" min="1" type="number" placeholder="1" ng-model="reserveBed.searchAvailBeds"/>
    </label>
    <label>Miles from Location:
      <input class="no-input" min="1" type="number" placeholder="1" ng-model="reserveBed.searchRange" ng-change="reserveBed.requeryAgencies()"/>
    </label>
  </section>
  <section class="content">
    <div class="row flex-body">
      <div class="col-md-12 flex-body-main">
        <ui-gmap-google-map style="padding-bottom: 2rem; display: block;" ng-if="reserveBed.mapConfig.center" center='reserveBed.mapConfig.center' zoom='reserveBed.mapConfig.zoom'>
          <ui-gmap-markers click="reserveBed.openMapDialog(instance, e, marker)" models="reserveBed.mapConfig.markers" coords="'self'" icon="'icon'">
            <ui-gmap-windows show="show">
              <div ng-non-bindable>
                <div class="box-header with-border">
                  <h3 class="box-title">
                    {{ agency.name }}
                    <span class="pull-right">Available beds: {{ agency.beds_available }}</span>
                  </h3>
                </div>
                <div class="box-body agency-container">
                  <div class="agency-info">
                    Distance: {{ agency.distance }} miles away: {{ agency.address1 }} {{ agency.address2 }} {{ agency.city }}, {{ agency.state }} {{ agency.zip }}
                  </div>
                  <div class="reservation-actions">
                    <button id="agency-{{agency.id}}" type="button" class="btn btn-block btn-primary" onclick="window.mapWindowButtonClicked(event)">Reserve Beds Here</button>
                  </div>
                </div>
              </div>
            </ui-gmap-windows>
          </ui-gmap-markers>
        </ui-gmap-google-map>
        <div class="box" ng-repeat="agency in reserveBed.filteredAgencies = (reserveBed.agenciesNearby | filter:reserveBed.searchTerm | filterAvailBeds:reserveBed.searchAvailBeds) | orderBy:'distance'">
          <ng-include src="'app/reservations/agencyBoxContent.html'"></ng-include>
        </div>
      </div>
      <div ng-class="{'control-sidebar-open': reserveBed.selectedAgency !== undefined}" class="flex-body-sidebar">
        <aside id="sidebar" class="control-sidebar control-sidebar-dark">
          <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="" ng-click="reserveBed.sidebarTab = 1" ng-class="{'active': reserveBed.sidebarTab === 1}">
              <a href=""><i class="fa fa-clipboard"></i></a>
            </li>
            <li class="" ng-click="reserveBed.sidebarTab = 2" ng-class="{'active': reserveBed.sidebarTab === 2}">
              <a href=""><i class="fa fa-list"></i></a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane" ng-class="{'active': reserveBed.sidebarTab === 1}">
              <h4 class="control-sidebar-heading">
                <strong style="white-space: nowrap; overlay: hidden; text-overflow: ellipsis;">{{reserveBed.selectedAgency.name}}</strong>
                <i class="fa fa-times pull-right" style="cursor: pointer" ng-click="reserveBed.resetSelectingAgency()"></i>
                <br/>
                Reserve Beds
              </h4>
              <div class="form-group">
                <span class="control-sidebar-subheading">Client reserving for</span>
                <ui-select ng-model="reserveBed.newReservation.selected" theme="select2" title="Choose a client">
                  <ui-select-match placeholder="Select a client in the list or search his/her name">
                    {{$select.selected.full_name}}
                  </ui-select-match>
                  <ui-select-choices repeat="client in reserveBed.clients | filter:$select.search">
                    <div ng-bind-html="client.full_name | highlight: $select.search"></div>
                    <small>
                      DOB: {{ client.dob | date:'d/M/yyyy'}}
                    </small>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Number of beds (family members included)
                  <input type="number" class="form-control" min="1" placeholder="1" value="1" ng-model="reserveBed.searchAvailBeds" required name="" />
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-block btn-success" ng-click="reserveBed.reserveBeds()">Reserve Beds</button>
              </div>
            </div>
            <div class="tab-pane" ng-class="{'active': reserveBed.sidebarTab === 2}">
              <h4 class="control-sidebar-heading">
                <strong style="white-space: nowrap; overlay: hidden; text-overflow: ellipsis;">{{reserveBed.selectedAgency.name}}</strong>
                <br/>
                List of Reservations
              </h4>
              <div class="form-group" ng-if="reserveBed.selectedAgency.reservations.length === 0">
                <h4 style="text-align: center;" class="control-sidebar-heading">No reservations yet</h4>
              </div>
              <div class="form-group list-of-reservations" ng-repeat="reservation in reserveBed.selectedAgency.reservations">
                <div class="box">
                  <div class="box-header with-border">
                    <h3 class="box-title">
                      {{reservation.client.full_name}}
                    </h3>
                    <button type="button" class="btn btn-block btn-success pull-right"><i class="fa fa-edit"></i> Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div>
  </section>
</div>
